# Configuration file

##########################################################################################################
# configuration_systems
#--------------------------------------------------------------------------------------------------------#
# Systems configuration 
# Version:0.4.0
#  
##########################################################################################################

configuration_systems {
}


##########################################################################################################
# merge_system
#--------------------------------------------------------------------------------------------------------#
# Merge System 
#  The Assimilated have the ability to learn from their battles and if the conditions are met, they will 
#  start to melt until they're some Moving Flesh 
#  If 2 of these things meet, they will fuse together and grow, if they get big enough they will spawn 
#  a mob from the Mob List.
#  
#  Conditions for the Assimilated to turn into Moving Flesh: 
#  
#  -The first condition: the Assimilated needs to reach the primitive killcount. 
#  -The second condition: it needs to be next to 3 more Assimilated, regardless of their killcount/specie 
#  OR it needs to be next to a Moving Flesh. 
#  If the Assimilated with the killcount is next to atleast 3 more Assimilated, the four of them will start 
#  to melt BUT if it is next to a Moving flesh, only it will start to melt.
##########################################################################################################

merge_system {
    # Mob list used in the merge system to spawn mobs. Ex. "minecraft:zombie;11"  Where: 
    #  "minecraft:zombie" is for the entity, 
    #  "11" is for the value the entity has (value must be an integer). 
    #  Each Assimilated has a value, the value then passes to the Moving Flesh and when 2 Moving Flesh merge together both values will add up
    #  If the value matches one in the list, the corresponding entity will spawn, else it will be a random one. 
    #  [default: [srparasites:pri_devourer;1], [srparasites:pri_ginger;1], [srparasites:pri_phobia;1]]
    S:"Hydrate Merge System Mob List" <
        srparasites:pri_devourer;1
        srparasites:pri_ginger;1
        srparasites:pri_phobia;1
     >

    # Assimilated mob list with their values used in the merge system to spawn mobs. Ex. "srparasites:infhuman;22"  Where: 
    #  "srparasites:infhuman" is for the entity (only works for Assimilated versions minus Big Spider, Enderdragon), 
    #  "22" is for the value the Moving Flesh will have (value must be an integer). 
    #  [default: [srparasites:sim_fox;1], [srparasites:sim_donkey;1], [srparasites:sim_mule;1], [srparasites:sim_llama;1], [srparasites:sim_goat;1], [srparasites:sim_pillager;1], [srparasites:sim_sniffer;3]]
    S:"Merge System Assimilated Values" <
        srparasites:sim_fox;1
        srparasites:sim_donkey;1
        srparasites:sim_mule;1
        srparasites:sim_llama;1
        srparasites:sim_goat;1
        srparasites:sim_pillager;1
        srparasites:sim_sniffer;3
     >

    # Mob list used in the merge system to spawn mobs. Ex. "minecraft:zombie;11"  Where: 
    #  "minecraft:zombie" is for the entity, 
    #  "11" is for the value the entity has (value must be an integer). 
    #  Each Assimilated has a value, the value then passes to the Moving Flesh and when 2 Moving Flesh merge together both values will add up
    #  If the value matches one in the list, the corresponding entity will spawn, else it will be a random one. 
    #  [default: [srparasites:pri_harvester;0]]
    S:"Merge System Mob List" <
        srparasites:pri_harvester;0
     >
}


##########################################################################################################
# midge_grow
#--------------------------------------------------------------------------------------------------------#
# Midge Grow to Gnat/Gadfly
##########################################################################################################

midge_grow {
    # Midgegrows to Gadfly Chance on Phase Phase ZERO. 
    # 疫源蠓在阶段零时候进化为恒疫虻的概率。 
    # 蠓は段階 ゼロの時に虻に進化する。 [range: 0.0 ~ 1.0, default: 0.01]
    S:"Gadfly Chance Phase 0"=0.01

    # Midgegrows to Gadfly Chance on Phase Phase ONE. 
    # 疫源蠓在阶段壹时候进化为恒疫虻的概率。 
    # 蠓は進化段階 壱の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 0.02]
    S:"Gadfly Chance Phase 1"=0.02

    # Midgegrows to Gadfly Chance on Phase Phase TEN. 
    # 疫源蠓在阶段拾时候进化为恒疫虻的概率。 
    # 蠓は進化段階 拾の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 1.0]
    S:"Gadfly Chance Phase 10"=1.0

    # Midgegrows to Gadfly Chance on Phase Phase TWO. 
    # 疫源蠓在阶段贰时候进化为恒疫虻的概率。 
    # 蠓は進化段階 弐の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 0.03]
    S:"Gadfly Chance Phase 2"=0.03

    # Midgegrows to Gadfly Chance on Phase Phase THREE. 
    # 疫源蠓在阶段叁时候进化为恒疫虻的概率。 
    # 蠓は進化段階 参の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 0.05]
    S:"Gadfly Chance Phase 3"=0.05

    # Midgegrows to Gadfly Chance on Phase Phase FOUR. 
    # 疫源蠓在阶段肆时候进化为恒疫虻的概率。 
    # 蠓は進化段階 四の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 0.1]
    S:"Gadfly Chance Phase 4"=0.1

    # Midgegrows to Gadfly Chance on Phase Phase FIVE. 
    # 疫源蠓在阶段伍时候进化为恒疫虻的概率。 
    # 蠓は進化段階 五の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 0.25]
    S:"Gadfly Chance Phase 5"=0.25

    # Midgegrows to Gadfly Chance on Phase Phase SIX. 
    # 疫源蠓在阶段陆时候进化为恒疫虻的概率。 
    # 蠓は進化段階 六の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 0.55]
    S:"Gadfly Chance Phase 6"=0.55

    # Midgegrows to Gadfly Chance on Phase Phase SEVEN. 
    # 疫源蠓在阶段柒时候进化为恒疫虻的概率。 
    # 蠓は進化段階 七の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 0.72]
    S:"Gadfly Chance Phase 7"=0.72

    # Midgegrows to Gadfly Chance on Phase Phase EIGHT. 
    # 疫源蠓在阶段捌时候进化为恒疫虻的概率。 
    # 蠓は進化段階 八の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 0.8]
    S:"Gadfly Chance Phase 8"=0.8

    # Midgegrows to Gadfly Chance on Phase Phase NINE. 
    # 疫源蠓在阶段玖时候进化为恒疫虻的概率。 
    # 蠓は進化段階 九の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 1.0]
    S:"Gadfly Chance Phase 9"=1.0
}


##########################################################################################################
# status_effects
#--------------------------------------------------------------------------------------------------------#
# Status effects of the mod
##########################################################################################################

status_effects {
    # Table that will be used for converting mobs, the Rupter will also be using this [default: [suikefoxfriend:fox;srparasites:sim_fox], [minecraft:donkey;srparasites:sim_donkey], [minecraft:mule;srparasites:sim_mule], [minecraft:llama;srparasites:sim_llama], [suikecherry:sniffer;srparasites:sim_sniffer], [oe:glow_squid;srparasites:sim_squidg], [oe:turtle;srparasites:sim_turtle], [raids:pillager;srparasites:sim_pillager], [traders:wandering_trader;srparasites:sim_trader], [traders:trader_llama;srparasites:sim_llama], [twilightforest:deer;srparasites:sim_deer], [twilightforest:wild_boar;srparasites:sim_boar], [twilightforest:bighorn_sheep;srparasites:sim_bighorn]]
    S:"COTH Assimilated Transformation" <
        suikefoxfriend:fox;srparasites:sim_fox
        minecraft:donkey;srparasites:sim_donkey
        minecraft:mule;srparasites:sim_mule
        minecraft:llama;srparasites:sim_llama
        suikecherry:sniffer;srparasites:sim_sniffer
        oe:glow_squid;srparasites:sim_squidg
        oe:turtle;srparasites:sim_turtle
        raids:pillager;srparasites:sim_pillager
        traders:wandering_trader;srparasites:sim_trader
        traders:trader_llama;srparasites:sim_llama
        twilightforest:deer;srparasites:sim_deer
        twilightforest:wild_boar;srparasites:sim_boar
        twilightforest:bighorn_sheep;srparasites:sim_bighorn
     >

    # Table that will be used for hijacking mobs. [default: [minecraft:snowman;srparasites:hi_snow], [minecraft:shulker;srparasites:hi_shulker], [minecraft:wither_skeleton;srparasites:hi_witherbone], [deeper_depths:breeze;srparasites:hi_breeze], [deeper_depths:bogged;srparasites:hi_bogged], [twilightforest:skeleton_druid;srparasites:hi_druid], [twilightforest:tower_golem;srparasites:hi_carminite]]
    S:"Hijacked Transformation" <
        minecraft:snowman;srparasites:hi_snow
        minecraft:shulker;srparasites:hi_shulker
        minecraft:wither_skeleton;srparasites:hi_witherbone
        deeper_depths:breeze;srparasites:hi_breeze
        deeper_depths:bogged;srparasites:hi_bogged
        twilightforest:skeleton_druid;srparasites:hi_druid
        twilightforest:tower_golem;srparasites:hi_carminite
     >
}


