# Configuration file

all {

    ##########################################################################################################
    # general
    #--------------------------------------------------------------------------------------------------------#
    # General options for Lecovian variants.
    ##########################################################################################################

    general {
        # Global seed for deterministic texture variants.
        D:global_seed=1337.0

        # Base 1σ width for hue variation in turns (1 turn = 360°).
        D:base_sigma_turns=0.3

        # Base 1σ width for brightness variation in exposure stops.
        D:base_sigma_stops=1.75

        # Entities on this list will never receive texture variants.
        S:"Entity Recolour Blacklist" <
         >

        # Per-entity sigma divisors. FORMAT: <entity id>|<sigma>.
        # Values closer to 0 will increase variation.
        S:"Entity Sigma Divisors" <
            minecraft:elder_guardian|10.0
            minecraft:wither_skeleton|10.0
            minecraft:stray|10.0
            minecraft:husk|10.0
            minecraft:zombie_villager|10.0
            minecraft:skeleton_horse|10.0
            minecraft:zombie_horse|10.0
            minecraft:armor_stand|10.0
            minecraft:donkey|10.0
            minecraft:mule|10.0
            minecraft:evocation_illager|10.0
            minecraft:vex|10.0
            minecraft:vindication_illager|10.0
            minecraft:illusion_illager|10.0
            minecraft:creeper|10.0
            minecraft:skeleton|10.0
            minecraft:spider|10.0
            minecraft:giant|10.0
            minecraft:zombie|10.0
            minecraft:slime|10.0
            minecraft:ghast|10.0
            minecraft:zombie_pigman|10.0
            minecraft:enderman|10.0
            minecraft:cave_spider|10.0
            minecraft:silverfish|10.0
            minecraft:blaze|10.0
            minecraft:magma_cube|10.0
            minecraft:ender_dragon|10.0
            minecraft:wither|10.0
            minecraft:bat|10.0
            minecraft:witch|10.0
            minecraft:endermite|10.0
            minecraft:guardian|10.0
            minecraft:shulker|10.0
            minecraft:pig|10.0
            minecraft:sheep|10.0
            minecraft:cow|10.0
            minecraft:chicken|10.0
            minecraft:squid|10.0
            minecraft:wolf|10.0
            minecraft:mooshroom|10.0
            minecraft:snowman|10.0
            minecraft:ocelot|10.0
            minecraft:villager_golem|10.0
            minecraft:horse|10.0
            minecraft:rabbit|10.0
            minecraft:polar_bear|10.0
            minecraft:llama|10.0
            minecraft:parrot|10.0
            minecraft:villager|10.0
            astralsorcery:entityflare|10.0
            astralsorcery:entityspectraltool|10.0
            astralsorcery:entityliquidspark|10.0
            betterendforge:end_fish|10.0
            betterendforge:dragonfly|10.0
            betterendforge:shadow_walker|10.0
            betterendforge:end_slime|10.0
            betterendforge:cubozoa|10.0
            betterendforge:silk_moth|10.0
            embers:ancient_golem|10.0
            embers:magma_worm|10.0
            dimdoors:mob_monolith|10.0
            soot:muse|10.0
            isorropia:taint_pig|10.0
            isorropia:gravekeeper|10.0
            isorropia:sheeder|10.0
            isorropia:chromatic_sheep|10.0
            isorropia:scholar_chicken|10.0
            isorropia:ore_pig|10.0
            isorropia:jelly_rabbit|10.0
            isorropia:chocolate_cow|10.0
            isorropia:golden_chicken|10.0
            isorropia:guardian_panther|10.0
            isorropia:nether_hound|10.0
            oe:glow_squid|10.0
            oe:cod|10.0
            oe:salmon|10.0
            oe:tropical_fish|10.0
            oe:pufferfish|10.0
            oe:turtle|10.0
            oe:dolphin|10.0
            oe:crab|10.0
            oe:clam|10.0
            oe:lobster|10.0
            oe:baby_squid|10.0
            oe:baby_glow_squid|10.0
            oe:drowned|10.0
            oe:tropical_slime|10.0
            oe:pickled|10.0
            oe:drowned_summon|10.0
            thaumadditions:chester|10.0
            thaumadditions:blue_wolf|10.0
            thaumicforever:guardian_mannequin|10.0
            thaumicforever:revive_skeleton|10.0
            thaumicforever:skeleton_angry|10.0
            thaumicforever:bvilager|10.0
            thaumicforever:coinvilager|10.0
            thaumicforever:wizard|10.0
            thaumicforever:gorilla|10.0
            thaumicforever:watcher_guard|10.0
            thaumicforever:nodemagnet|10.0
            thaumcraft:cultistportalgreater|10.0
            thaumcraft:cultistportallesser|10.0
            thaumcraft:turretbasic|10.0
            thaumcraft:turretadvanced|10.0
            thaumcraft:arcanebore|10.0
            thaumcraft:golem|10.0
            thaumcraft:eldritchwarden|10.0
            thaumcraft:eldritchgolem|10.0
            thaumcraft:cultistleader|10.0
            thaumcraft:taintaclegiant|10.0
            thaumcraft:brainyzombie|10.0
            thaumcraft:giantbrainyzombie|10.0
            thaumcraft:wisp|10.0
            thaumcraft:firebat|10.0
            thaumcraft:spellbat|10.0
            thaumcraft:pech|10.0
            thaumcraft:mindspider|10.0
            thaumcraft:eldritchguardian|10.0
            thaumcraft:cultistknight|10.0
            thaumcraft:cultistcleric|10.0
            thaumcraft:eldritchcrab|10.0
            thaumcraft:inhabitedzombie|10.0
            thaumcraft:thaumslime|10.0
            thaumcraft:taintcrawler|10.0
            thaumcraft:taintacle|10.0
            thaumcraft:taintacletiny|10.0
            thaumcraft:taintswarm|10.0
            thaumcraft:taintseed|10.0
            thaumcraft:taintseedprime|10.0
            thaumicaugmentation:shield_focus|10.0
            thaumicaugmentation:autocaster|10.0
            thaumicaugmentation:autocaster_eldritch|10.0
            thaumicaugmentation:eldritch_guardian|10.0
            thaumicaugmentation:eldritch_warden|10.0
            thaumicaugmentation:primal_wisp|10.0
            thaumicaugmentation:eldritch_golem|10.0
            thaumicaugmentation:celestial_observer|10.0
            tconstruct:blueslime|10.0
            tconstruct:purpleslime|10.0
            nyx:alien_creeper|10.0
            nyx:comet_kitty|10.0
            nyx:alien_kitty|10.0
            nyx:eyezor|10.0
            mutantbeasts:creeper_minion|10.0
            mutantbeasts:endersoul_clone|10.0
            mutantbeasts:mutant_creeper|10.0
            mutantbeasts:mutant_enderman|10.0
            mutantbeasts:mutant_skeleton|10.0
            mutantbeasts:mutant_snow_golem|10.0
            mutantbeasts:mutant_zombie|10.0
            mutantbeasts:spider_pig|10.0
            crimsonrevelations:cultist_archer|10.0
            crimsonrevelations:overgrown_taintacle|10.0
            srparasites:sim_bigspider|10.0
            srparasites:sim_squid|10.0
            srparasites:sim_human|10.0
            srparasites:sim_cow|10.0
            srparasites:sim_sheep|10.0
            srparasites:sim_wolf|10.0
            srparasites:sim_pig|10.0
            srparasites:sim_villager|10.0
            srparasites:sim_adventurer|10.0
            srparasites:sim_horse|10.0
            srparasites:sim_bear|10.0
            srparasites:sim_enderman|10.0
            srparasites:sim_dragone|10.0
            srparasites:sim_sheephead|10.0
            srparasites:sim_wolfhead|10.0
            srparasites:sim_cowhead|10.0
            srparasites:sim_pighead|10.0
            srparasites:sim_villagerhead|10.0
            srparasites:sim_horsehead|10.0
            srparasites:sim_humanhead|10.0
            srparasites:sim_endermanhead|10.0
            srparasites:sim_dragonehead|10.0
            srparasites:sim_adventurerhead|10.0
            srparasites:mar_enderman|10.0
            srparasites:mar_cow|10.0
            srparasites:mar_villager|10.0
            srparasites:mar_human|10.0
            srparasites:mar_sheep|10.0
            srparasites:mar_bear|10.0
            srparasites:fer_bear|10.0
            srparasites:fer_cow|10.0
            srparasites:fer_enderman|10.0
            srparasites:fer_horse|10.0
            srparasites:fer_human|10.0
            srparasites:fer_pig|10.0
            srparasites:fer_sheep|10.0
            srparasites:fer_villager|10.0
            srparasites:fer_wolf|10.0
            srparasites:abo_bodies|10.0
            srparasites:abo_head|10.0
            srparasites:hi_blaze|10.0
            srparasites:hi_golem|10.0
            srparasites:hi_skeleton|10.0
            srparasites:carrier_heavy|10.0
            srparasites:carrier_light|10.0
            srparasites:buglin|10.0
            srparasites:carrier_flying|10.0
            srparasites:rupter|10.0
            srparasites:movingflesh|10.0
            srparasites:worker|10.0
            srparasites:mangler|10.0
            srparasites:gnat|10.0
            srparasites:lice|10.0
            srparasites:beckon_si|10.0
            srparasites:beckon_sii|10.0
            srparasites:beckon_siii|10.0
            srparasites:beckon_siv|10.0
            srparasites:dispatcherten|10.0
            srparasites:dispatcher_si|10.0
            srparasites:dispatcher_sii|10.0
            srparasites:dispatcher_siii|10.0
            srparasites:dispatcher_siv|10.0
            srparasites:rooterball|10.0
            srparasites:rooter_si|10.0
            srparasites:rooter_sii|10.0
            srparasites:rooter_siii|10.0
            srparasites:rooter_siv|10.0
            srparasites:kyphosis|10.0
            srparasites:sentry|10.0
            srparasites:seizer|10.0
            srparasites:worm|10.0
            srparasites:incompleteform_small|10.0
            srparasites:incompleteform_medium|10.0
            srparasites:host|10.0
            srparasites:hostii|10.0
            srparasites:heed|10.0
            srparasites:crux|10.0
            srparasites:crux_incomplete|10.0
            srparasites:thrall|10.0
            srparasites:dredge|10.0
            srparasites:airscrew|10.0
            srparasites:carrier_worm|10.0
            srparasites:pri_longarms|10.0
            srparasites:pri_manducater|10.0
            srparasites:pri_reeker|10.0
            srparasites:pri_yelloweye|10.0
            srparasites:pri_summoner|10.0
            srparasites:pri_bolster|10.0
            srparasites:pri_tozoon|10.0
            srparasites:pri_arachnida|10.0
            srparasites:pri_devourer|10.0
            srparasites:pri_vermin|10.0
            srparasites:pri_viscera|10.0
            srparasites:pri_burrower|10.0
            srparasites:ada_longarms|10.0
            srparasites:ada_manducater|10.0
            srparasites:ada_reeker|10.0
            srparasites:ada_yelloweye|10.0
            srparasites:ada_summoner|10.0
            srparasites:ada_bolster|10.0
            srparasites:ada_tozoon|10.0
            srparasites:ada_arachnida|10.0
            srparasites:ada_devourer|10.0
            srparasites:ada_vermin|10.0
            srparasites:ada_viscera|10.0
            srparasites:ada_burrower|10.0
            srparasites:overseer|10.0
            srparasites:vigilante|10.0
            srparasites:warden|10.0
            srparasites:bomber_light|10.0
            srparasites:marauder|10.0
            srparasites:monarch|10.0
            srparasites:grunt|10.0
            srparasites:bomber_heavy|10.0
            srparasites:wraith|10.0
            srparasites:bogle|10.0
            srparasites:haunter|10.0
            srparasites:carrier_colony|10.0
            srparasites:succor|10.0
            srparasites:seeker|10.0
            srparasites:architect|10.0
            srparasites:anc_dreadnaut|10.0
            srparasites:anc_overlord|10.0
            srparasites:anc_pod|10.0
            srparasites:anc_dreadnaut_ten|10.0
            srparasites:homming|10.0
            srparasites:kirin|10.0
            srparasites:draconite|10.0
            srparasites:biomass|10.0
            srparasites:tendril|10.0
            srparasites:wave|10.0
            srparasites:waveshock|10.0
            srparasites:prentice|10.0
            srparasites:artisan|10.0
            srparasites:midge|10.0
            srparasites:gadfly|10.0
            srparasites:flea|10.0
            srparasites:tick|10.0
            srparasites:egg|10.0
            srparasites:carrier_micro|10.0
            srparasites:sim_bigspiderhead|10.0
            srparasites:fer_bigspider|10.0
            srparasites:sim_bigcrab|10.0
            srparasites:sim_donkey|10.0
            srparasites:sim_donkeyhead|10.0
            srparasites:fer_donkey|10.0
            srparasites:sim_mule|10.0
            srparasites:sim_mulehead|10.0
            srparasites:fer_mule|10.0
            srparasites:sim_bearhead|10.0
            srparasites:sim_fox|10.0
            srparasites:sim_foxhead|10.0
            srparasites:fer_fox|10.0
            srparasites:sim_llama|10.0
            srparasites:sim_llamahead|10.0
            srparasites:fer_llama|10.0
            srparasites:sim_squidhead|10.0
            srparasites:fer_squid|10.0
            srparasites:sim_squidg|10.0
            srparasites:sim_squidghead|10.0
            srparasites:fer_squidg|10.0
            srparasites:sim_pillager|10.0
            srparasites:sim_pillagerhead|10.0
            srparasites:fer_pillager|10.0
            srparasites:mar_pillager|10.0
            srparasites:sim_aqua_enderman|10.0
            srparasites:sim_aqua_endermanhead|10.0
            srparasites:hi_snow|10.0
            srparasites:hi_shulker|10.0
            srparasites:hi_breeze|10.0
            srparasites:hi_witherbone|10.0
            srparasites:hi_bogged|10.0
            srpcalamity:skatter|10.0
            srparasites:folk|10.0
            srparasites:incompleteform_large|10.0
            srparasites:wick|10.0
            srparasites:vesicle|10.0
            srparasites:nucleus|10.0
            srparasites:abo_dickens|10.0
            srparasites:abo_virgo|10.0
            srparasites:pri_harvester|10.0
            srparasites:pri_ginger|10.0
            srparasites:pri_phobia|10.0
            srparasites:drifter_si|10.0
            srparasites:anc_matriarch|10.0
            srparasites:fried_pri_longarms|10.0
            srparasites:fried_ada_longarms|10.0
            srparasites:fried_pri_yelloweye|10.0
            srparasites:fried_ada_yelloweye|10.0
            srparasites:fried_sim_enderman|10.0
            srparasites:fried_sim_endermanhead|10.0
            srparasites:fried_fer_enderman|10.0
            srparasites:mite|10.0
            srparasites:sim_witch|10.0
            srparasites:sim_witchhead|10.0
            srparasites:sim_vindicator|10.0
            srparasites:sim_vindicatorhead|10.0
            srparasites:sim_evoker|10.0
            srparasites:sim_ocelot|10.0
            srparasites:sim_ocelothead|10.0
            srparasites:sim_humanhusk|10.0
            srparasites:sim_humanhuskhead|10.0
            srparasites:hi_creeper|10.0
            srparasites:hi_creeperhead|10.0
            srparasites:hi_skeleton_srpe|10.0
            srparasites:hi_skeletonstray|10.0
            srparasites:hi_skeletonhead|10.0
            srparasites:fer_ocelot|10.0
            srparasites:fer_adventurer|10.0
            srparasites:wendigo|10.0
            srparasites:swimming_flesh|10.0
            srparasites:pri_stalker|10.0
            srparasites:ada_vermin_srpe|10.0
            srparasites:ada_tozoon_srpe|10.0
            srparasites:ada_stalker|10.0
            srparasites:tendril_stalker|10.0
            srparasites:tendril_tozoon|10.0
            srparasites:swimmer|10.0
            srparasites:leecher|10.0
            srparasites:plankton|10.0
            srparasites:carrier_sea|10.0
            srparasites:bomber_mini|10.0
            srparasites:sim_drowned|10.0
            srparasites:sim_dolphin|10.0
            srparasites:fer_dolphin|10.0
            srparasites:sim_dolphin_head|10.0
            srparasites:sim_fish|10.0
            srparasites:fer_fish|10.0
            srparasites:hi_guardian|10.0
            srparasites:hi_elder_guardian|10.0
            srparasites:pri_hammerhead|10.0
            srparasites:ada_hammerhead|10.0
            srparasites:ada_devourer_srpe|10.0
            srparasites:tendril_hammerhead|10.0
            srparasites:sprouter_si|10.0
            srparasites:supporter|10.0
            srparasites:sim_mutant_zombie|10.0
            srparasites:sim_mutant_enderman|10.0
            srparasites:hi_mutant_skeleton|10.0
            srrevenants:for_cow|10.0
            srrevenants:for_bear|10.0
            srrevenants:for_horse|10.0
            srrevenants:for_human|10.0
            srrevenants:for_pig|10.0
            srrevenants:for_sheep|10.0
            thaumicwonders:corruption_avatar|10.0
            coroutil:bat_smart|10.0
         >
    }

}


